/* 轮播图 */
.banners {
	width: 100%;
	height: 300rpx;
}
.banners image {
	width: 100%;
	height: 100%;
}

/* 图标导航区 */
.navContainer {
	display: flex;
}
.navItem {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 20%;
}

.navItem .iconfont {
	height: 100rpx;
	width: 100rpx;
	text-align: center;
	border-radius: 50%;
	line-height: 100rpx;
	background: rgb(240, 19, 19);
	font-size: 50rpx;
	margin: 20rpx 0;
	color: white;
}

.navItem text {
	font-size: 26rpx;
}

/* 推荐歌曲 */
.recommendContainer {
	padding: 20rpx;
}
.recommendContainer .header .title {
	font-size: 32rpx;
	line-height: 80rpx;
	color: #666;
}
.recommendContainer .header .more {
	float: right;
	border: 1rpx solid #333;
	border-radius: 30rpx;
	padding: 10rpx 20rpx;
	font-size: 24rpx;
}
/* 内容 */
.recommendScroll {
	display: flex;
	height: 300rpx;
}
.scrollItem {
	width: 200rpx;
	margin: 5px;
}
.scrollItem image {
	width: 200rpx;
	height: 200rpx;
	border-radius: 10rpx;
}
.scrollItem text {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2; /* d多行文本溢出*/
	font-size: 26rpx;
	/* 当行文本溢出隐藏 省略号代替 */
	/* white-space: nowrap; */
	overflow: hidden;
	text-overflow: ellipsis;
}

/* 排行榜 */
.topList {
	padding: 20rpx;
}

.topListSwiper {
	height: 400rpx;
}
.swiperItem {
	width: 96%;
	background: #fbfbfb;
}
.swiperItem .title {
	font-size: 30rpx;
	line-height: 80rpx;
}
.musicItem {
	display: flex;
	margin: 20rpx;
}
.musicItem image {
	width: 100rpx;
	height: 100rpx;
	border-radius: 6rpx;
}
.musicItem .conut {
	width: 100rpx;
	height: 100rpx;
	text-align: center;
	line-height: 100rpx;
}
.musicItem .musicName {
	height: 100rpx;
	line-height: 100rpx;
	max-width: 460rpx;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
