.header {
	padding: 20rpx;
}
.header .title {
	font-size: 32rpx;
	line-height: 80rpx;
	color: #666;
}
.header .more {
	float: right;
	border: 1rpx solid #333;
	border-radius: 30rpx;
	padding: 10rpx 20rpx;
	font-size: 24rpx;
}